---
import Section from "@/components/Section.astro";
import { education } from "@cv";
---

<Section title="Educacion">
  <ul class="flex flex-col gap-y-6">
    {
      education.map(({ area, startDate, endDate, institution, url }) => {
        const startYear = new Date(startDate).getFullYear();
        const endYear =
          endDate != null ? new Date(endDate).getFullYear() : "Actual";
        const years = `${startYear} - ${endYear}`;
        const urlInstitution = url !== null ? url : "";

        return (
          <li>
            <article class="flex justify-between">
              <div>
                <h3 class="font-semibold hover:underline">
                  <a
                    href={urlInstitution}
                    target="_blank"
                    type="nooreferer noopener"
                  >
                    {institution}
                  </a>
                </h3>
                <p>{area}</p>
              </div>
              <time class="opacity-80 text-sm">{years}</time>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>
